apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plexserver-config-pvc
  namespace: plexserver
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Gi
  volumeName: plexserver-config-pv